.resign-button:hover {
	-fx-background-color: red;
}

.resign-button {
	-fx-background-color: rgb(255,120,120);
	-fx-font-family: "Arial";
	-fx-font-weight: 900;
}

.draw-button:hover {
	-fx-background-color: rgb(255, 238, 43);
}

.draw-button {
	-fx-background-color: rgb(255, 245, 110);
	-fx-font-family: "Arial";
	-fx-font-weight: 900;
}

.player-names {
	-fx-font-size: 18px;
}

.moves-section {
	-fx-background-color: lightgrey;
	-fx-background: lightgrey;
}	

.clocks {
	-fx-border-color: black;
	-fx-padding: 5px 8px 5px 8px;
	-fx-font-size: 40px;
}

.chess-board {
	-fx-border-color: black;
	-fx-border-width: 3px;
}

.scroll-pane {
	-fx-background-color: transparent;
}

.root {
	-fx-background-color: lightgrey;
}

.square-coords {
	-fx-font-size: 20px;
}

.tool-tip {
	-fx-background-color: orange;
	-fx-text-fill: black;
}

.chess-pieces {
	-fx-font-size: 75px;
}

.settings-button {
	-fx-background-color: transparent;
}

.settings-button > .arrow-button {
    -fx-padding: 0px;
}

.settings-button > .label {
	-fx-font-size: 40px;
	-fx-padding: 0px 0px 0px 10px;
}

.settings-button > .arrow-button > .arrow {
    -fx-padding: 0px;
}

.result-label {
	-fx-font-size: 30px;
}

.result-buttons {
	-fx-font-size: 20px;
}

.promotion {
	-fx-font-size: 75px;
	-fx-border-color: black;
	-fx-border-width: 2px;
}

.white-piece {
	-fx-text-fill: rgb(250, 249, 246);
}

.black-piece {
	-fx-text-fill: black;
}

.heading {
	-fx-font-family: "Arial";
	-fx-font-weight: 900;
	-fx-font-size: 22px;
}

.subheading {
	-fx-font-family: "Arial";
	-fx-font-weight: 900;
	-fx-font-size: 18px;
}

.check-box {
	-fx-font-size: 16px;
}

